<div class="admin_login">
  <% if @error_message %>
    <div class="form-error">
      <%= @error_message %>
    </div>
  <% end %>
  <div class="login_form">
    <%= form_with url: "/login",scope: :admin, data: {turbo_method: :post}, local: true do |form| %>
      <h2>Login</h2>
      <%= form.text_field :mail, class: "form-control", placeholder: "メールアドレス" %>
      <%= form.password_field :password, class: "form-control", placeholder: "パスワード" %> 
      <%= form.submit :submit, class: "submit-btn" %>
    <% end %>
  </div>
</div>