<div class="index-container">
  <div class="new-btn-container">
    <div class="new">
      <%= link_to("/works/new") do %>
        <span class="new-btn">新規投稿</span>
      <% end %>
    </div>
  </div>
  <table class="work-list">
    <thead>
      <tr>
        <th>Title</th>
        <th>作成日</th>
        <th>サイトURL</th>
        <th>画像</th>
        <th></th>
      </tr>
    </thead>
    <% @works.each do |work| %>>
    <tbody>
      <tr>
        <td><%= work.title %></td>
        <td><%= work.created_at %></td>
        <td><%= image_tag work.image.url %></td>
        <td><%= work.link_url %></td>
        <td>
          <% if work.user_id == session[:admin_id].to_i %>
            <%= link_to("edit","/works/#{work.id}/edit", class: "edit-btn edit") %>
            <%= link_to("delete",work_path(work.id) ,class: "edit-btn delete", data: {turbo_method: :delete, turbo_confirm: '削除してよろしいですか'}) %>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
    <%= paginate @works %>
  </table>
</div>