<div class="index-container">
  <div class="new-btn-container">
    <div class="new">
      <%= link_to("新規投稿", "/works/new", class: "new-btn") %>
    </div>
  </div>
  <table class="work-list">
    <thead>
      <tr>
        <th>Title</th>
        <th>作成日</th>
        <th>サイトURL</th>
        <th>画像</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @works.each do |work| %>
    <tbody>
      <tr>
        <td><%= work.title %></td>
        <td><%= l work.created_at , format: :long %></td>
        <td><%= link_to("#{work.link_url}") %></td>
        <td><%= image_tag work.image.url, class: "image-index" %></td>
          <% if work.user_id == session[:admin_id].to_i %>
            <td><%= link_to("edit","/works/#{work.id}/edit", class: "edit-btn edit") %></td>
            <td><%= link_to("delete",work_path(work.id) ,class: "edit-btn delete", data: {turbo_method: :delete, turbo_confirm: '削除してよろしいですか'}) %></td>
          <% end %>
      </tr>
    </tbody>
    <% end %>
    <%= paginate @works %>
  </table>
</div>