<div class="top-container">
  <div class="visual-container">
    <div id="main-visual">
      <div class="visual-navi">
        <ul>
          <%= render 'layouts/navigation' %>
        </ul>
      </div>
    </div>
  </div>
  <div id="about">
    <div class="description">
      <div class="text-area">
        <h2>About Me</h2>
        <p>『モノづくり』に興味を持つようになったのは、ドイツに２年間住んでいた経験から。<br>
            アパレル店舗の運営に携わりながら、テーラーで服飾とファッションデザインについて修行しました。<br>
            ２０１９年からは同時並行でプログラミングの勉強、および、ロゴのデザイン作成を開始。<br>
            現在は、フリーランスとして、デジタルデザイナーとデベロッパーとして活動しています。</p>
        <table>
          <thead><tr><td colspan="2"></td></tr><thead>
          <tbody>
            <tr>
              <td>言語</td><td>HTML/CSS, Sass, Ruby, Rails, Javascript, jQuery, python, GAS</td>
            <tr>
            <tr>
              <td>ツール</td><td>Illustrator, Photoshop, Affinity</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="about-image">
      <img src="/visual_image/pf_about.png">
    </div>
  </div>
  <div id="works">
    <div class="work-text">
      <h2>Works</h2>
    </div>
    <% @three_works.each do |work| %>
      <div class="work-container">
        <%= image_tag work.image.url %>
        <% if work.link_url %>
          <div class="url-link">
            <%= link_to("#{work.link_url}", id:"site-btn") do %>
              <span>Visit page</span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="to_collection">
      <%= link_to("/collection") do %>
        <div id="btn">
          <span>more works<span>
        </div>
      <% end %>
    </div>
  </div>
  <div id="contact">
    <div class="contact-content">
      <div class="contact-text">
        <h2>Contact</h2>
      </div>
      <div class="contact-form">
      <%= form_with url: send_jp_path, scope: :contact, data: {turbo_method: :post}, local: true do |f| %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
        <%= f.text_field :email, class: "form-control", placeholder: "E-mail" %>
        <%= f.text_area :message, class: "form-control", id: "form-area" %>
        <%= f.submit :send, id: "submit-btn"%>
      <% end %>
      </div>
    </div>
  </div>
</div>