<!DOCTYPE html>
<html>
  <head>
    <meta charset="uft-8">
    <title>Haruki's portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="ポートフォリオです。">
    <meta name="keyword" content="油井　陽輝 Haruki Yui Portfolio Webdesigner Developer ウェブデザイナー　開発者　ポートフォリオ">
    <meta name="author" content="油井 陽輝">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
  </header>
    <%= yield %>
  </body>
  <footer>
  </footer>
</html>
