<!DOCTYPE html>
<html>
  <head>
    <meta charset="uft-8">
    <title>Haruki's portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ªã§ã™ã€‚">
    <meta name="keyword" content="æ²¹äº•ã€€é™½è¼ Haruki Yui Portfolio Webdesigner Developer ã‚¦ã‚§ãƒ–ãƒ‡ã‚¶ã‚¤ãƒŠãƒ¼ã€€é–‹ç™ºè€…ã€€ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒªã‚ª">
    <meta name="author" content="æ²¹äº• é™½è¼">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <div class="header-container">
      <div id="logo">
        <%= link_to(image_tag("/visual_image/Haruki_logo.png"), "/") %>
      </div>
      <div class="header-navi">
        <ul>
          <li><a href="/#works" id="btn" class="top-btn">Works</a></li>
          <li><a href="/#about" id="btn" class="top-btn">About</a></li>
          <li><a href="/#contact" id="btn" class="top-btn">Contact</a></li>
          <li>
            <%= link_to("/collection") do %>
              <p id="btn" class="top-btn">Collection</p>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="lang-navi">
        <ul>
          <li>
            <%= link_to("/en", data: {turbo_method: :post, turbo_confirm: 'Are you sure to switch to English?'}) do %>
              <span class="lang-btn">English</span>
            <% end %>
          </li>
          <li>
            <%= link_to("/ja", data: {turbo_method: :post, turbo_confirm: 'æ—¥æœ¬èªžã«åˆ‡ã‚Šæ›¿ãˆã¾ã™ã‹'}) do %>
              <span class="lang-btn">æ—¥æœ¬èªž</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <main>
      <% if flash[:notice] %>
        <div id="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
    <%= yield %>
  </main>
  <footer>
    <div id="copyright">
      <p>CopyrightðŸ„«All reserved by Haruki Yui</p>
    </div>
  </footer>
  </body>
</html>
